In [37]:
import pandas as pd
import numpy as np


player_df = pd.read_csv("/Users/davidirinyemi/Documents/code/python-data-science/week-7/data/epl_player_data.csv")
team_df = pd.read_csv("/Users/davidirinyemi/Documents/code/python-data-science/week-7/data/epl_team_data.csv")

# Part 1

# Examining the data sctructure (spae, columns, data types) of both datasets

In [ ]:

print("Player DataFrame shape:", player_df.shape)
print("Team DataFrame shape:", team_df.shape)

print("Player DataFrame data types:\n", player_df.dtypes)
print("Team DataFrame data types:\n", team_df.dtypes)

# Checking and handling any missing values appropriately in both datasets

In [ ]:
print("Missing values in player_df:")
print(player_df.isnull().sum())

print("\nMissing values in team_df:")
print(team_df.isnull().sum())

# Performing basic data cleaning: 
# Replaced all undersccore to space
# Ensured all numerical columns are numeric
# Removed duplicates if there are any
# Removed any spaces at the beginning and at the end of column

In [ ]:
player_df.columns = player_df.columns.str.strip().str.lower().str.replace('_', ' ')
team_df.columns = team_df.columns.str.strip().str.lower().str.replace('_', ' ')

player_df['goals'] = pd.to_numeric(player_df['goals'], errors='coerce')

player_df = player_df.drop_duplicates()
team_df = team_df.drop_duplicates()

player_df['player_name'] = player_df['player_name'].str.strip()
team_df['team_name'] = team_df['team_name'].str.strip()

print(player_df, team_df)

# Calculating Summary statisticsfor the key numerical columns in both dataset

In [ ]:
player_df[['goals', 'assists']].describe()

disciplinary_cols_player = [col for col in player_df.columns if 'card' in col or 'foul' in col]
disciplinary_cols_team = [col for col in team_df.columns if 'card' in col or 'foul' in col]

print("Player Disciplinary Metrics Summary ")
print(player_df[disciplinary_cols_player].describe())
print("\n")
print("Team Disciplinary Metrics Summary ")
print(team_df[disciplinary_cols_team].describe())

# Part 2

# Calculating total points accumulated

In [49]:
team_df['total_points'] = (
    np.array(team_df['wins']) * 3 +
    np.array(team_df['draws']) * 1
)

print(team_df[['team_name', 'wins', 'draws', 'losses', 'total_points']])

points = np.array(team_df['total_points'])

print("Max points:", np.max(points))
print("Min points:", np.min(points))
print("Average points:", np.mean(points))
print("Standard deviation:", np.std(points))

                  team_name  wins  draws  losses  total_points
0           Manchester City    28      7       3            91
1                   Arsenal    28      5       5            89
2                 Liverpool    24     10       4            82
3               Aston Villa    20      8      10            68
4         Tottenham Hotspur    20      6      12            66
5                   Chelsea    18      9      11            63
6          Newcastle United    18      6      14            60
7         Manchester United    18      6      14            60
8           West Ham United    14     10      14            52
9            Crystal Palace    13     10      15            49
10   Brighton & Hove Albion    12     12      14            48
11          AFC Bournemouth    13      9      16            48
12                   Fulham    13      8      17            47
13  Wolverhampton Wanderers    13      7      18            46
14                  Everton    13      9      16            48
15                Brentford    10      9      19            39
16        Nottingham Forest     9      9      20            36
17               Luton Town     6      8      24            26
18                  Burnley     5      9      24            24
19         Sheffield United     3      7      28            16
Max points: 91
Min points: 16
Average points: 52.9
Standard deviation: 19.715222545028496

# Calculating Average goals scored and conceded per match

In [51]:
team_df[['goals_scored', 'goals_conceded', 'wins', 'draws', 'losses']]

team_df['matches_played'] = (
    team_df['wins'] + team_df['draws'] + team_df['losses']
)

team_df['avg_goals_scored_per_match'] = team_df['goals_scored'] / team_df['matches_played']
team_df['avg_goals_conceded_per_match'] = team_df['goals_conceded'] / team_df['matches_played']

print(team_df[['team_name', 'avg_goals_scored_per_match', 'avg_goals_conceded_per_match']])

                  team_name  avg_goals_scored_per_match  \
0           Manchester City                    2.526316
1                   Arsenal                    2.394737
2                 Liverpool                    2.263158
3               Aston Villa                    2.000000
4         Tottenham Hotspur                    1.947368
5                   Chelsea                    2.026316
6          Newcastle United                    2.236842
7         Manchester United                    1.500000
8           West Ham United                    1.578947
9            Crystal Palace                    1.500000
10   Brighton & Hove Albion                    1.447368
11          AFC Bournemouth                    1.421053
12                   Fulham                    1.447368
13  Wolverhampton Wanderers                    1.315789
14                  Everton                    1.052632
15                Brentford                    1.473684
16        Nottingham Forest                    1.289474
17               Luton Town                    1.368421
18                  Burnley                    1.078947
19         Sheffield United                    0.921053

    avg_goals_conceded_per_match
0                       0.894737
1                       0.763158
2                       1.078947
3                       1.605263
4                       1.605263
5                       1.657895
6                       1.631579
7                       1.526316
8                       1.947368
9                       1.526316
10                      1.631579
11                      1.763158
12                      1.605263
13                      1.710526
14                      1.342105
15                      1.710526
16                      1.763158
17                      2.236842
18                      2.052632
19                      2.736842

# Home vs Away performance comparison

In [57]:
team_df["home_matches"] = team_df["matches_played"] / 2
team_df["away_matches"] = team_df["matches_played"] / 2

team_df['avg_home_goals_scored'] = team_df['home_goals_scored'] / team_df['home_matches']
team_df['avg_away_goals_scored'] = team_df['away_goals_scored'] / team_df['away_matches']

team_df['avg_home_goals_conceded'] = team_df['home_goals_conceded'] / team_df['home_matches']
team_df['avg_away_goals_conceded'] = team_df['away_goals_conceded'] / team_df['away_matches']

team_df['home_win_ratio'] = team_df['home_wins'] / team_df['home_matches']
team_df['away_win_ratio'] = team_df['away_wins'] / team_df['away_matches']

comparison_cols = [
    'team_name',
    'avg_home_goals_scored', 'avg_away_goals_scored',
    'avg_home_goals_conceded', 'avg_away_goals_conceded',
    'home_win_ratio', 'away_win_ratio'
]

print(team_df[comparison_cols])

                  team_name  avg_home_goals_scored  avg_away_goals_scored  \
0           Manchester City               3.052632               2.000000
1                   Arsenal               2.894737               1.894737
2                 Liverpool               2.894737               1.631579
3               Aston Villa               2.315789               1.684211
4         Tottenham Hotspur               2.105263               1.789474
5                   Chelsea               2.368421               1.684211
6          Newcastle United               2.631579               1.842105
7         Manchester United               1.578947               1.421053
8           West Ham United               1.842105               1.315789
9            Crystal Palace               1.684211               1.315789
10   Brighton & Hove Albion               1.578947               1.315789
11          AFC Bournemouth               1.578947               1.263158
12                   Fulham               1.684211               1.210526
13  Wolverhampton Wanderers               1.473684               1.157895
14                  Everton               1.157895               0.947368
15                Brentford               1.684211               1.263158
16        Nottingham Forest               1.473684               1.105263
17               Luton Town               1.473684               1.263158
18                  Burnley               1.052632               1.105263
19         Sheffield United               0.947368               0.894737

    avg_home_goals_conceded  avg_away_goals_conceded  home_win_ratio  \
0                  0.894737                 0.894737        0.842105
1                  0.736842                 0.789474        0.789474
2                  1.052632                 1.105263        0.894737
3                  1.473684                 1.736842        0.684211
4                  1.473684                 1.736842        0.578947
5                  1.421053                 1.894737        0.631579
6                  1.473684                 1.789474        0.631579
7                  1.473684                 1.578947        0.526316
8                  1.684211                 2.210526        0.526316
9                  1.315789                 1.736842        0.421053
10                 1.473684                 1.789474        0.368421
11                 1.578947                 1.947368        0.473684
12                 1.526316                 1.684211        0.421053
13                 1.578947                 1.842105        0.368421
14                 1.263158                 1.421053        0.421053
15                 1.578947                 1.842105        0.368421
16                 1.684211                 1.842105        0.315789
17                 2.000000                 2.473684        0.210526
18                 1.842105                 2.263158        0.157895
19                 2.631579                 2.842105        0.105263

    away_win_ratio
0         0.631579
1         0.684211
2         0.368421
3         0.368421
4         0.473684
5         0.315789
6         0.315789
7         0.421053
8         0.210526
9         0.263158
10        0.263158
11        0.210526
12        0.263158
13        0.315789
14        0.263158
15        0.157895
16        0.157895
17        0.105263
18        0.105263
19        0.052632

# Calculating total fouls committed and suffered

In [71]:
team_fouls = player_df.groupby('team_name')[['fouls_committed', 'fouls_suffered']].sum().reset_index()
print(team_fouls)

                  team_name  fouls_committed  fouls_suffered
0           AFC Bournemouth              196             185
1                   Arsenal              267             275
2               Aston Villa              385             287
3                 Brentford              264             222
4    Brighton & Hove Albion              108             130
5                   Burnley              226             229
6                   Chelsea              464             467
7            Crystal Palace              309             317
8                   Everton              267             237
9                    Fulham              204             186
10                Liverpool              349             260
11               Luton Town              232             233
12          Manchester City              275             315
13        Manchester United              170             153
14         Newcastle United              214             225
15        Nottingham Forest              297             224
16         Sheffield United              217             177
17        Tottenham Hotspur              295             346
18          West Ham United              189             159
19  Wolverhampton Wanderers              152             162

# Calculating Total Yellow cards, red card, and match ban per team and player

In [73]:
player_df['total_cards'] = player_df['yellow_cards'] + player_df['red_cards']
print(player_df[['player_name', 'team_name', 'yellow_cards', 'red_cards', 'total_cards', 'games_suspended']])

team_card_stats = player_df.groupby('team_name')[['yellow_cards', 'red_cards', 'games_suspended']].sum().reset_index()
team_card_stats['total_cards'] = team_card_stats['yellow_cards'] + team_card_stats['red_cards']

print(team_card_stats)

        player_name          team_name  yellow_cards  red_cards  total_cards  \
0    Erling Haaland    Manchester City             2          0            2
1       Bukayo Saka            Arsenal             4          0            4
2     Mohamed Salah          Liverpool             1          0            1
3     Ollie Watkins        Aston Villa             6          0            6
4        Phil Foden    Manchester City             2          0            2
..              ...                ...           ...        ...          ...
537  Harry Williams  Manchester United             1          0            1
538     Louis White            Chelsea             4          0            4
539     Omar Turner  Tottenham Hotspur             0          0            0
540    Dylan Morris            Everton             0          0            0
541   Henry Schmidt          Liverpool             0          0            0

     games_suspended
0                  0
1                  0
2                  0
3                  0
4                  0
..               ...
537                0
538                0
539                0
540                0
541                0

[542 rows x 6 columns]
                  team_name  yellow_cards  red_cards  games_suspended  \
0           AFC Bournemouth            28          0                1
1                   Arsenal            26          1                2
2               Aston Villa            48          2                5
3                 Brentford            30          0                2
4    Brighton & Hove Albion             9          1                1
5                   Burnley            28          1                3
6                   Chelsea            67          3                8
7            Crystal Palace            50          0                6
8                   Everton            28          0                2
9                    Fulham            31          4                5
10                Liverpool            43          0                4
11               Luton Town            26          0                1
12          Manchester City            41          0                3
13        Manchester United            21          0                1
14         Newcastle United            20          0                0
15        Nottingham Forest            39          0                2
16         Sheffield United            32          2                5
17        Tottenham Hotspur            29          2                6
18          West Ham United            21          2                3
19  Wolverhampton Wanderers            24          0                3

    total_cards
0            28
1            27
2            50
3            30
4            10
5            29
6            70
7            50
8            28
9            35
10           43
11           26
12           41
13           21
14           20
15           39
16           34
17           31
18           23
19           24

# Creating a new column for performance rating

In [75]:
team_df['total_points'] = team_df['wins'] * 3 + team_df['draws'] * 1

team_df['performance_rating'] = (
    team_df['total_points'] * 2 +
    team_df['goals_scored'] * 0.5 -
    team_df['goals_conceded'] * 0.3 +
    team_df['clean_sheets'] * 3 -
    team_df['red_cards'] * 2 -
    team_df['yellow_cards'] * 0.5
)

print(team_df[['team_name', 'performance_rating']].sort_values(by='performance_rating', ascending=False))

                  team_name  performance_rating
0           Manchester City               231.8
1                   Arsenal               227.8
2                 Liverpool               198.2
3               Aston Villa               132.7
4         Tottenham Hotspur               117.7
6          Newcastle United               112.4
5                   Chelsea               101.1
7         Manchester United                98.1
9            Crystal Palace                96.1
8           West Ham United                83.8
10   Brighton & Hove Albion                83.4
14                  Everton                81.7
12                   Fulham                73.7
11          AFC Bournemouth                65.4
13  Wolverhampton Wanderers                54.5
15                Brentford                54.5
16        Nottingham Forest                48.4
17               Luton Town                 7.0
18                  Burnley                 5.6
19         Sheffield United               -42.2

# 4 Identify

In [92]:
# Top 5 attacking Teams
top_5_attacking_teams = team_df.sort_values(by='goals_scored', ascending=False).head(5)
print("Top 5 Attacking Teams")
print(top_5_attacking_teams[['team_name', 'goals_scored']])

print("\n")

# Top 5 defensive Teams
top_5_defensive_teams = team_df.sort_values(by='goals_conceded', ascending=True).head(5)
print("Top 5 Defensive Teams")
print(top_5_defensive_teams[['team_name', 'goals_conceded']])

print("\n")

# Most aggressive Teams
print("Most Aggressive Teams")
team_df['aggression_score'] = (
    team_df['fouls_committed'] +
    team_df['yellow_cards'] * 2 +
    team_df['red_cards'] * 5
)

most_aggressive_teams = team_df.sort_values(by='aggression_score', ascending=False).head(5)
print(most_aggressive_teams[['team_name', 'aggression_score', 'fouls_committed', 'yellow_cards', 'red_cards']])

Top 5 Attacking Teams
          team_name  goals_scored
0   Manchester City            96
1           Arsenal            91
2         Liverpool            86
6  Newcastle United            85
5           Chelsea            77


Top 5 Defensive Teams
            team_name  goals_conceded
1             Arsenal              29
0     Manchester City              34
2           Liverpool              41
14            Everton              51
7   Manchester United              58


Most Aggressive Teams
            team_name  aggression_score  fouls_committed  yellow_cards  \
19   Sheffield United               747              490           101
5             Chelsea               703              450           109
18            Burnley               692              480            81
17         Luton Town               688              470            79
16  Nottingham Forest               661              450            88

    red_cards
19         11
5           7
18         10
17         12
16          7